In [71]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [66]:
airlines_df = pd.read_csv("airlines.csv")
airlines_df

,Airport.Code,Airport.Name,Time.Label,Time.Month,Time.Month Name,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,...,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003/06,6,June,2003,1009,1275,3217,17,...,5843,27,23974,30060,61606,68335,118831,518,268764,19474
1,BOS,"Boston, MA: Logan International",2003/06,6,June,2003,374,495,685,3,...,1623,3,7875,9639,20319,28189,24400,99,77167,4160
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003/06,6,June,2003,296,477,389,8,...,1245,15,6998,8287,13635,26810,17556,278,64480,6201
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003/06,6,June,2003,300,472,735,2,...,1562,14,7021,8670,14763,23379,23804,127,65865,3792
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003/06,6,June,2003,283,268,487,4,...,1100,18,5321,6513,13775,13712,20999,120,52747,4141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4403,SAN,"San Diego, CA: San Diego International",2016/01,1,January,2016,280,397,171,2,...,871,18,5030,6016,15482,23023,6021,79,46206,1601
4404,SEA,"Seattle, WA: Seattle/Tacoma International",2016/01,1,January,2016,357,513,351,2,...,1274,31,8330,9739,25461,32693,11466,73,74017,4324
4405,SFO,"San Francisco, CA: San Francisco International",2016/01,1,January,2016,560,947,2194,2,...,3825,20,8912,13206,43641,72557,153416,66,278610,8930
4406,SLC,"Salt Lake City, UT: Salt Lake City International",2016/01,1,January,2016,338,540,253,3,...,1175,14,7426,8699,32066,33682,8057,57,76978,3116
4407,TPA,"Tampa, FL: Tampa International",2016/01,1,January,2016,410,342,312,2,...,1095,7,4748,5996,22557,21164,11423,37,57774,2593

### Check for Missing Values

In [67]:
airlines_df.isnull().sum()

Airport.Code                                           0
Airport.Name                                           0
Time.Label                                             0
Time.Month                                             0
Time.Month Name                                        0
Time.Year                                              0
Statistics.# of Delays.Carrier                         0
Statistics.# of Delays.Late Aircraft                   0
Statistics.# of Delays.National Aviation System        0
Statistics.# of Delays.Security                        0
Statistics.# of Delays.Weather                         0
Statistics.Carriers.Names                              0
Statistics.Carriers.Total                              0
Statistics.Flights.Cancelled                           0
Statistics.Flights.Delayed                             0
Statistics.Flights.Diverted                            0
Statistics.Flights.On Time                             0
Statistics.Flights.Total                               0
Statistics.Minutes Delayed.Carrier                     0
Statistics.Minutes Delayed.Late Aircraft               0
Statistics.Minutes Delayed.National Aviation System    0
Statistics.Minutes Delayed.Security                    0
Statistics.Minutes Delayed.Total                       0
Statistics.Minutes Delayed.Weather                     0
dtype: int64

### No Missing values in the dataset

### Exploring the columns and rows

In [53]:
airlines_df.columns.shape

(24,)

In [79]:
pd.DataFrame(np.unique((airlines_df[['Time.Month']]).to_numpy(), return_counts = True))

     0    1    2    3    4    5    6    7    8    9   10   11
0    1    2    3    4    5    6    7    8    9   10   11   12
1  377  348  348  348  348  377  377  377  377  377  377  377

In [78]:
pd.DataFrame(np.unique((airlines_df[['Time.Year']]).to_numpy(), return_counts = True))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
1,203,348,348,348,348,348,348,348,348,348,348,348,348,29

In [80]:
pd.DataFrame(np.unique((airlines_df[['Time.Year']]).to_numpy(), return_counts = True))

,0,1,2,3,4,5,6,7,8,9,...,3830,3831,3832,3833,3834,3835,3836,3837,3838,3839
0,2533,2684,2799,2925,2955,2998,3000,3033,3194,3228,...,36942,36992,37209,37284,37499,37584,37806,37886,38076,38241
1,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [69]:
airlines_df.describe().astype(dtype = int)

,Time.Month,Time.Year,Statistics.# of Delays.Carrier,Statistics.# of Delays.Late Aircraft,Statistics.# of Delays.National Aviation System,Statistics.# of Delays.Security,Statistics.# of Delays.Weather,Statistics.Carriers.Total,Statistics.Flights.Cancelled,Statistics.Flights.Delayed,Statistics.Flights.Diverted,Statistics.Flights.On Time,Statistics.Flights.Total,Statistics.Minutes Delayed.Carrier,Statistics.Minutes Delayed.Late Aircraft,Statistics.Minutes Delayed.National Aviation System,Statistics.Minutes Delayed.Security,Statistics.Minutes Delayed.Total,Statistics.Minutes Delayed.Weather
count,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408,4408
mean,6,2009,574,789,954,5,78,12,213,2402,27,9254,11897,35021,49410,45077,211,135997,6276
std,3,3,329,561,921,6,75,2,288,1710,36,5337,6861,24327,38750,57636,257,113972,6477
min,1,2003,112,86,61,-1,1,3,3,283,0,2003,2533,6016,5121,2183,0,14752,46
25%,4,2006,358,425,399,2,33,11,58,1298,8,5708,7400,19530,25084,14389,65,65444,2310
50%,7,2009,476,618,667,4,58,12,123,1899,15,7477,9739,27782,37483,25762,141,100711,4298
75%,10,2012,692,959,1166,7,98,14,250,2950,32,10991,13842,41606,59951,50362,274,164294,7846
max,12,2016,3087,4483,9066,94,812,18,3680,13699,442,31468,38241,220796,345456,602479,4949,989367,76770